.mobile-menu {
  display: none;
}

@media (max-width: 1279px) {
  .mobile-menu {
    display: block;
  }
}

@media (max-width: 1279px) {
  .desktop-only {
    display: none !important;
  }
}

.mobile-menu-content {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  padding-top: 1.5rem;
  width: 100vw;
  height: 100vh;
  background: var(--bg-color);
  z-index: 1000;
  overflow-y: auto;
}

.mobile-menu-content ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  min-height: 80vh;
}

.mobile-menu-content a {
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
  color: var(--text-color);
  transition: color 0.3s ease;
}

.mobile-menu-content a:hover {
  color: var(--primary-color);
}

/* Botão de fechar no mobile */
.mobile-menu-content .btn-wrapper {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  padding: 8px;
  z-index: 1001;
}

/* Header no mobile */
@media (max-width: 1279px) {
  header .container {
    padding-block: 0.875rem !important;
  }

  header nav img {
    height: 50px !important;
    width: auto !important;
  }
}
